# Builds
Release/
Debug/

# Runtimes
runtime/
runtimed/

# Binaries
*.exe

# CVS Folders (Kept in case data needs re-installing)
CVS/

# Class Diagrams
*.cd

# Visual Studio Specific Files
*.sdf

# Export Libraries
src/export/lib/*.lib
src/export/libd/*.lib

# Plot Data
*.dat